body {
    font-family: 'Roboto', sans-serif;
    color: #5C5C5C;
    overflow-x: hidden !important;
}

.std {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 7.62%, rgba(0, 225, 198, 0.26) 40.5%, #FFFFFF 90.92%);
}

.first-text {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #20262A;
}

.second-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #5C5C5C;
    text-align: center;
    letter-spacing: 0.2px;
}

.logo {
    max-width: 430px;
}

.menu {
    margin-top: 20px;
}

.menu-l {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #20262A;
    font-size: 1.8rem;
}

.navbar-toggler {
    border: none;
}

@media screen and (max-width: 1220px) {
    .logo {
        max-width: 430px;
    }
}

@media screen and (max-width: 1140px) {
    .logo {
        max-width: 400px;
    }

    .menu-l {
        font-size: 1.7rem;
    }

    .details {
        font-size: 48px !important;
    }

    .rest {
        font-size: 28px !important;
    }
}

@media screen and (max-width: 1070px) {
    .logo {
        max-width: 370px;
    }

    .menu-l {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1000px) {
    .logo {
        max-width: 340px;
    }
    .menu-l {
        font-size: 1.5rem;
    }

    .nav-item {
        padding-top: 2rem !important;
    }

    .desc-l {
        font-size: 18px;
    }

    .details {
        font-size: 43px !important;
    }

    .rest {
        font-size: 23px !important;
        line-height: 30px !important;
        margin: 0;
    }

    .info {
        height: 230px !important;
    }

    .active {
        padding: 0 !important;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        max-width: 300px;
    }
    .menu-l {
        font-size: 1.4rem;
    }

    .details {
        font-size: 37px !important;
    }

    .rest {
        font-size: 18px !important;
        line-height: 20px !important;
        margin: 0;
    }
}

@media screen and (max-width: 840px) {
    .logo {
        max-width: 250px;
    }
    .menu-l {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 800px) {
    .txt1 {
        font-size: 20px;
    }

    .button {
        font-size: 30px !important;
    }

    .list {
        font-size: 20px !important;
    }

    .specs {
        font-size: 45px !important;
    }

    .d-t {
        font-size: 26px !important;
        line-height: 5px !important;
    }
}

@media screen and (max-width: 767.5px) {
    .title-l {
        text-align: center !important;
    }

    .desc-l {
        text-align: center !important;
        font-size: 20px !important;
    }

    .g-c {
        max-height: none !important;
        overflow: none !important;  
    }

    .left-g {
        max-height: none !important;
    }

    .info {
        height: 130px !important;
    }

    .pg1 {
        margin-bottom: 15px !important;
    }

    .active {
        text-align: center !important;
    }

    .btc {
        text-align: center !important;
    }
}

@media screen and (max-width: 600px) {
    .txt1 {
        font-size: 17px;
    }

    .button {
        font-size: 26px !important;
    }

    li {
        font-size: 18px !important;
    }

    .desc-l {
        font-size: 16px !important;
    }

    .title {
        font-size: 55px !important;
    }

    .socials {
        font-size: 45px !important;
    }
}

@media screen and (max-width: 575px) {
    .details {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 520px) {
    .details {
        font-size: 26px !important;
    }

    .info {
        height: 110px !important;
    }
}

@media screen and (max-width: 450px) {
    .socials {
        font-size: 40px !important;
    }

    .title {
        line-height: 70px !important;
    }
}

@media screen and (max-width: 419px) {
    .info {
        height: 150px !important;
    }

    .details {
        line-height: 40px !important;
    }
}

@media screen and (max-width: 400px) {
    .button {
        font-size: 22px !important;
        height: 82px !important;
    }

    .specs {
        font-size: 40px !important;
    }

    li {
        font-size: 16px !important;
    }

    .socials {
        font-size: 35px !important;
    }

    .title {
        line-height: 60px !important;
    }
}


@media screen and (max-width: 360px) {
    .navbar-toggler {
        position: absolute;
        top: 60px;
        left: 50%;
        padding: 0;
    }

    .cf1 {
        text-align: center !important;
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .abs {
        margin: 0 !important;
    }
    
}

@media screen and (max-width: 350px) {
    .button {
        font-size: 20px !important;
        height: 72px !important;
    }

    .title {
        font-size: 45px !important;
    }

    .specs {
        font-size: 35px !important;
    }

    .socials {
        font-size: 28px !important;
        line-height: 40px !important;
    }

    li {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 310px) {
    .ddate {
        font-size: 22px !important;
    }

    .details {
        font-size: 23px !important;
    }
}

@media screen and (max-width: 300px) {
    .button {
        font-size: 20px !important;
        height: 62px !important;
    }

    .specs {
        font-size: 30px !important;
    }

    .socials {
        font-size: 23px !important;
        line-height: 40px !important;
    }

    li {
        font-size: 14px !important;
    }
    
    .txt1 {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 270px) {
    .button {
        font-size: 20px !important;
        height: 62px !important;
    }

    .logo {
        max-width: 230px !important;
    }

    .details {
        font-size: 20px !important;
    }
}


.title {
    font-family: 'Chakra Petch';
    color: #00B6F0;
    font-weight: 700;
    font-size: 72px;
    line-height: 78px;
}

.title-l {
    font-size: 36px !important;
}

.desc-l {
    text-align: left;
}

.vector-1 {
    position: absolute;
    width: 626.46px;
    left: -394.61px;
    top: 35.73%;
    bottom: -38.8%;
    background: #00B6F0;
    border-radius: 90%;
    transform: rotate(68.94deg);
    z-index: -1;
    opacity: 0.50;
}

.vector-2 {
    position: absolute;
    height: 675.1px;
    top: 466px;
    left: 81.98%;
    right: -53.86%;
    border-radius: 90%;
    background: #F3CD03;
    z-index: -1;
    opacity: 0.70;
}

.button {
    background: #00B6F0;
    border-radius: 85px;
    border-color: transparent;
    width: 100%;
    max-width: 313px;
    height: 92px;
    font-family: 'Chakra Petch';
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
}

.nav-item {
    text-align: right !important;
}

.progress-bar {
    background-color:#00B6F0 !important;
}

.slide {
    padding: 2px;
    background-color: #505D70;
}